@model Reveries.ViewModels.UserIndex
@using System.Text.RegularExpressions;

@{
    ViewBag.Title = "Profile";
}




<main class="red darken-2 valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 center-block">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text center-align">
                        <span class="card-title">Write a New Reverie</span>
                        <div class="input-field">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Type here</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="revPub waves-effect waves-red"><i class="material-icons">done_all</i>Publish</a>
                        <a class="revClear waves-effect waves-red"><i class="material-icons">clear</i>Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<section class="revShow  grey lighten-5">

    <div class="container">
        <div class="row">
            <div class="col s12 cards-container">
                @foreach (var reverie in Model.User.Reveries.OrderByDescending(a => a.Id).ToList())
                {
                    
                        <a class="modal-trigger" href="#@reverie.Id">
                            <div class="card white darken-1">
                                <div style="min-height:100px" class="card-content grey-text text-darken-3">
                                    <img style="float:left;margin-right: 1.5em;height:70px;width:70px;" src="~/img/tom.jpg" />
                                    <h5 class="flow-text">By: <span class="">@reverie.User.Name</span></h5>
                                    <p style="display: block;white-space: pre;">@reverie.Content</p>
                                </div>
                                <div class="card-action">
                                    <a href="#!" class=""><span grey-text text-darken-3">@reverie.Likes.Count&nbsp;&nbsp;</span><i class="material-icons">favorite</i></a>
                                </div>
                            </div>
                        </a>
                  

                }
                </div>
            </div>
    </div>

   @foreach (var reverie in Model.User.Reveries.OrderByDescending(a => a.Id).ToList())
   {

       <div id="@reverie.Id" class="modal">
        <div class="modal-content">
            <div class="card white darken-1">
                <div class="card-content grey-text text-darken-3">

                    <div class="row">
                        <h5 class="flow-text">By: <a href="@Url.RouteUrl("User" , new { username = @reverie.User.Username })"><span class="">@reverie.User.Name</span></a> On: <span>@reverie.CreateDate.ToShortDateString() , @reverie.CreateDate.ToShortTimeString()</span></h5>
                        <div class="col s12 m2">
                            
                            <img src="//placehold.it/80x80" />
                        </div>
                        <div class="col s12 m10">
                            <p class="RevFlex" style="display: block;white-space: pre;">@reverie.Content</p>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    
                    <div class="RevControls" style="margin-left:20px">
                        <span class="left"><a href="#!" class="RevEdit" id="@reverie.Id"><i class="material-icons">create</i></a></span>
                        <span class="left"><a href="#!" class="RevDel" id="@reverie.Id"><i class="material-icons">clear</i></a></span>
                        <span class='left'><a href='#!' class='RevSave' id="@reverie.Id"><i class='material-icons'>send</i></a></span>
                    </div>
                    <a href="#!" class="right" id="@reverie.Id"><span class=" grey-text text-darken-3">@reverie.Likes.Count&nbsp;&nbsp;</span><i class="material-icons">favorite</i></a>
                    <a href="#!" class="right" ><span class=" grey-text text-darken-3">@reverie.Comments.Count&nbsp;&nbsp;</span><i class="material-icons">comment</i></a>
                </div>
                <div class="clearfix"></div>
                <div class="commentShow grey-text text-darken-3">
                    <div class="row">
                        <div class="col s12">
                            <h1 class="flow-text">Comments</h1>
                        </div>
                    </div>


                @foreach (var comment in reverie.Comments.OrderByDescending(a => a.Id).ToList())
                {
                    
                    <div class="row">
                        <p style="font-size:14px; color:darkorange">By: <a href="@Url.RouteUrl("User" , new { username = @comment.User.Username })"> @comment.User.Name</a> On: @comment.CreateDate.ToShortDateString() , @comment.CreateDate.ToShortTimeString()</p>
                        <br />
                        <div class="col s12 m2">
                            <img src="//placehold.it/50x50" />
                        </div>
                        <div class="col s12 m10 comCont">
                            
                            <p style="display: block;white-space: pre;">@comment.Content</p>
                            <div class="comControls">
                                <p style="font-size:12px" id="@comment.Id" class="right "><a href="#!" class="comDel">Delete</a></p>
                                <p style="font-size:12px" id="@comment.Id" class="left"><a href='#!' class='comSave'>Done</a></p>
                                <p style="font-size:12px" id="@comment.Id" class="left"><a href="#!" class="comEdit">Edit</a></p>
                            </div>
                        </div>
                    </div>
                  }

                </div>



                <div class="card-comment grey-text text-darken-3">
                    <div class="row">
                        <div class="col s12 m2">
                            <img src="//placehold.it/50x50" />
                        </div>
                        <div class="input-field col s12 m8">
                            <input placeholder="comment" id="comment2" type="text" class="validate">
                        </div>
                        <div class="col s12 m2 valign-wrapper">
                            <a href="#!" class="right"><i class="material-icons">send</i></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}

    

</section>