@model Reveries.ViewModels.UserUserReveries

@{
    Layout = null;
}

@foreach (var reverie in Model.Reveries)
{
    <div class="row">
        <div class="s12 m6">
            <a class="modal-trigger" href="#@reverie.Id">
                <div class="card white darken-1">
                    <div style="min-height:100px" class="card-content grey-text text-darken-3">
                        <img style="float:left;margin-right: 1.5em;height:70px;width:70px;" src="~/img/tom.jpg" />
                        <h5 class="flow-text">By: <span class="">@reverie.User.Name</span></h5>
                        <p style="display: block;white-space: pre;">@reverie.Content</p>
                    </div>
                    <div class="card-action">
                        <a href="#!" class=""><span grey-text text-darken-3">@reverie.Likes.Count&nbsp;&nbsp;</span><i class="material-icons">favorite</i></a>
                    </div>
                </div>
            </a>
        </div>
      </div>
}

        @foreach (var reverie in Model.Reveries)
        {

            <div id="@reverie.Id" class="modal">
                <div class="modal-content">
                    <div class="card white darken-1">
                        <div class="card-content grey-text text-darken-3">

                            <div class="row">
                                <h5 class="flow-text">By: <a href="@Url.RouteUrl("User" , new { username = @reverie.User.Username })"><span class="">@reverie.User.Name</span></a> On: <span>@reverie.CreateDate.ToShortDateString() , @reverie.CreateDate.ToShortTimeString()</span></h5>
                                <div class="col s12 m2">

                                    <img src="//placehold.it/80x80" />
                                </div>
                                <div class="col s12 m10">
                                    <p class="RevFlex" style="display: block;white-space: pre;">@reverie.Content</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-action">

                            <div class="RevControls" style="margin-left:20px">
                                <span class="left"><a href="#!" class="RevEdit" id="@reverie.Id"><i class="material-icons">create</i></a></span>
                                <span class="left"><a href="#!" class="RevDel" id="@reverie.Id"><i class="material-icons">clear</i></a></span>
                                <span class='left'><a href='#!' class='RevSave' id="@reverie.Id"><i class='material-icons'>send</i></a></span>
                            </div>
                            <a href="#!" class="right" id="@reverie.Id"><span class=" grey-text text-darken-3">@reverie.Likes.Count&nbsp;&nbsp;</span><i class="material-icons">favorite</i></a>
                            <a href="#!" class="right"><span class=" grey-text text-darken-3">@reverie.Comments.Count&nbsp;&nbsp;</span><i class="material-icons">comment</i></a>
                        </div>
                        <div class="clearfix"></div>
                        <div class="commentShow grey-text text-darken-3">
                            <div class="row">
                                <div class="col s12">
                                    <h1 class="flow-text">Comments</h1>
                                </div>
                            </div>


                            @foreach (var comment in reverie.Comments.OrderByDescending(a => a.Id).ToList())
                    {

                                <div class="row">
                                    <p style="font-size:14px; color:darkorange">By: <a href="@Url.RouteUrl("User" , new { username = @comment.User.Username })"> @comment.User.Name</a> On: @comment.CreateDate.ToShortDateString() , @comment.CreateDate.ToShortTimeString()</p>
                                    <br />
                                    <div class="col s12 m2">
                                        <img src="//placehold.it/50x50" />
                                    </div>
                                    <div class="col s12 m10 comCont">

                                        <p style="display: block;white-space: pre;">@comment.Content</p>
                                        <div class="comControls">
                                            <p style="font-size:12px" id="@comment.Id" class="right "><a href="#!" class="comDel">Delete</a></p>
                                            <p style="font-size:12px" id="@comment.Id" class="left"><a href='#!' class='comSave'>Done</a></p>
                                            <p style="font-size:12px" id="@comment.Id" class="left"><a href="#!" class="comEdit">Edit</a></p>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>



                        <div class="card-comment grey-text text-darken-3">
                            <div class="row">
                                <div class="col s12 m2">
                                    <img src="//placehold.it/50x50" />
                                </div>
                                <div class="input-field col s12 m8">
                                    <input placeholder="comment" id="comment2" type="text" class="validate">
                                </div>
                                <div class="col s12 m2 valign-wrapper">
                                    <a href="#!" class="right"><i class="material-icons">send</i></a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        }
